In [ ]:
from google.colab import drive
drive.mount("/content/drive")

Mounted at /content/drive

In [ ]:
%cd "/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data"

/content/drive/.shortcut-targets-by-id/1psvNNdzjOZtPf9i4b7gJzkYmUTZL7w5O/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data

In [ ]:
import os
os.listdir()

['GADF', 'GASF']

In [ ]:
files = []
cur_dir = "/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data"
for dir in os.listdir():
    next_dir = os.path.join(cur_dir, dir)
    for subdir in os.listdir(next_dir):
        path = os.path.join(next_dir, subdir)
        temp = []
        print(path)
        for image in os.listdir(path):
            
            temp.append(image)
        files.append(temp)

/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data/GADF/Normal
/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data/GADF/Abnormal
/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data/GASF/Abnormal
/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data/GASF/Normal

In [ ]:
a = [1, 2, 3]
b = [2, 4]
a+b

[1, 2, 3, 2, 4]

In [ ]:
import pandas as pd
df1 = pd.DataFrame({
    "file_name" : files[0] + files[1],
    "label" : ["Normal"] * len(files[0]) + ["Abnormal"] * len(files[1]),     
})
df1

              file_name     label
0      gadf_set4_20.jpg    Normal
1     gadf_set4_201.jpg    Normal
2     gadf_set4_202.jpg    Normal
3     gadf_set4_203.jpg    Normal
4     gadf_set4_204.jpg    Normal
...                 ...       ...
3221   gadf_set6_69.jpg  Abnormal
3222   gadf_set6_81.jpg  Abnormal
3223   gadf_set6_85.jpg  Abnormal
3224   gadf_set6_86.jpg  Abnormal
3225   gadf_set6_92.jpg  Abnormal

[3226 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df1["encoding"] = pd.Series(le.fit_transform(df1["label"]))
df1

              file_name     label  encoding
0      gadf_set4_20.jpg    Normal         1
1     gadf_set4_201.jpg    Normal         1
2     gadf_set4_202.jpg    Normal         1
3     gadf_set4_203.jpg    Normal         1
4     gadf_set4_204.jpg    Normal         1
...                 ...       ...       ...
3221   gadf_set6_69.jpg  Abnormal         0
3222   gadf_set6_81.jpg  Abnormal         0
3223   gadf_set6_85.jpg  Abnormal         0
3224   gadf_set6_86.jpg  Abnormal         0
3225   gadf_set6_92.jpg  Abnormal         0

[3226 rows x 3 columns]

In [ ]:
df1.to_csv("gadf_images.csv")

In [ ]:
import pandas as pd
df2 = pd.DataFrame({
    "file_name" : files[2] + files[3],
    "label" : ["Abnormal"] * len(files[2]) + ["Normal"] * len(files[3])
})
df2

              file_name     label
0       gasf_set0_0.jpg  Abnormal
1     gasf_set0_100.jpg  Abnormal
2       gasf_set0_1.jpg  Abnormal
3     gasf_set0_102.jpg  Abnormal
4     gasf_set0_103.jpg  Abnormal
...                 ...       ...
3221  gasf_set2_108.jpg    Normal
3222  gasf_set2_109.jpg    Normal
3223   gasf_set2_11.jpg    Normal
3224  gasf_set2_110.jpg    Normal
3225  gasf_set2_111.jpg    Normal

[3226 rows x 2 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df2["encoding"] = pd.Series(le.fit_transform(df2["label"]))
df2

              file_name     label  encoding
0       gasf_set0_0.jpg  Abnormal         0
1     gasf_set0_100.jpg  Abnormal         0
2       gasf_set0_1.jpg  Abnormal         0
3     gasf_set0_102.jpg  Abnormal         0
4     gasf_set0_103.jpg  Abnormal         0
...                 ...       ...       ...
3221  gasf_set2_108.jpg    Normal         1
3222  gasf_set2_109.jpg    Normal         1
3223   gasf_set2_11.jpg    Normal         1
3224  gasf_set2_110.jpg    Normal         1
3225  gasf_set2_111.jpg    Normal         1

[3226 rows x 3 columns]

In [ ]:
df2.to_csv("gasf_images.csv")

In [ ]:
df1.encoding.value_counts()

1    2572
0     654
Name: encoding, dtype: int64

In [ ]:
df2.encoding.value_counts()

1    2572
0     654
Name: encoding, dtype: int64

In [ ]:
len(df1)

3226

In [ ]:
var_names = [["gasf_train", "gasf_train_label"], ["gasf_test", "gasf_test_label"], ["gasf_val", "gasf_val_label"], 
            ["gadf_train", "gadf_train_label"], ["gadf_test", "gadf_test_label"], ["gadf_val", "gadf_val_label"]]

In [ ]:
!pwd

/content/drive/.shortcut-targets-by-id/1psvNNdzjOZtPf9i4b7gJzkYmUTZL7w5O/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data

In [ ]:
cur_dir = "/content/drive/MyDrive/DATA VISUALIZATION/2016_dataset/gaf_images/Image_data/"

In [ ]:
import shutil

In [ ]:
for csv in var_names:
    name_df = pd.read_csv(csv[0] + ".csv")
    label_df = pd.read_csv(csv[1] + ".csv")
    name_list = name_df['file_name'].tolist()
    label_list = label_df['encoding'].tolist()
    gasf_or_gadf = csv[0].split("_")[0].upper()
    next_dir = cur_dir + gasf_or_gadf
    new_dir = cur_dir + csv[0]
    os.mkdir(new_dir)
    for i in range(len(name_list)):
        if label_list[i] == 0:
            src = next_dir + "/Abnormal/" + name_list[i]
        else:
            src = next_dir + "/Normal/" + name_list[i]
        shutil.copy(src, new_dir)